@charset "utf-8";
/* CSS Document */

body {
	font-family: "myriad pro";
	/* IE10 */
	background-image: -ms-linear-gradient(top right, #7c7c7c 0%, #3e3b3b 100%); 
	/* Mozilla Firefox */
	background-image: -moz-linear-gradient(top right, #7c7c7c 0%, #3e3b3b 100%);
	/* Opera */
	background-image: -o-linear-gradient(top right, #7c7c7c 0%, #3e3b3b 100%);
	/* Webkit (Safari/Chrome 10) */
	background-image: -webkit-gradient(linear, right top, left bottom, color-stop(0, #7c7c7c), color-stop(1, #3e3b3b));
	/* Webkit (Chrome 11+) */
	background-image: -webkit-linear-gradient(top right, #7c7c7c 0%, #3e3b3b 100%);
	/* Regola standard */
	background-image: linear-gradient(top right, #7c7c7c 0%, #3e3b3b 100%);
	background-repeat:no-repeat;
	background-position:center center;
	background-size:auto;
	background-attachment:fixed;	
	width:1200px;
	margin:4% auto;
	color:#292929;
	}
	div#navigationmenu{
	background-color:#d9d9d9;
	padding-left:20px;
	width:20%;
	height:520px; 
	float:right;
	padding-top:1%;
	padding-bottom:1%;
}
	div#headerframe{
		width:100%;
		background-image: url(../images/header.jpg);
		background-size: cover;
		background-repeat:no-repeat;
		height:130px;
		position:relative;
	}
	div#mainframe{		
	/*background-color:#7c7c7c;*/
	padding-top:1%;
	padding-bottom:1%;
	alignment-adjust:central;
	float:left;
	width:72%;
	background-color:#d9d9d9;
	padding-left:20px;
	padding-right:20px;
	height:520px;
   }
   
   div#footer{
	   height:35px;
 	   width:100%;
	   background-color:#d9d9d9;
	   font-size:12px;
	   position:relative;
	   margin-top:8px;
	   padding-top:5px;
} 	 
 
 div#containerframe{
	overflow: auto;
	width: 100%;
}
	   
.focus {
  border: 3px solid #F40000;
}
.respanel{
	alignment-adjust:central;
	padding-top:35px;
	padding-left:28px;
	margin-left:16px;
	/*margin-right:0px;*/
	margin-bottom:20px;
	font-size:19px;
	
	

}

table.panelForm{
	border-spacing:10px;
	}

.titleForm{
	padding-left:10px;
	padding-bottom:20px;
	font-size:20px;
	font-weight:800;
	}
	