@charset "utf-8";
/* CSS Document */

path.link {
  fill: none;
  stroke: black;
  stroke-width: 1.2px;
}

marker#checkedPositive {
  fill: blue;
}

path.link.checkedPositive {
  stroke: blue;
}

marker#checkedNegative{
  fill: red;
}

path.link.checkedNegative{
  stroke: red;
}

circle {
  fill: black;
  stroke: #333;
  stroke-width: 1.5px;
}

circle.disease {
  fill: blue;
}

circle.protein {
  fill: yellow;
}

circle.gene {
  fill: green;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
}

text.shadow {
  stroke: #fff;
  stroke-width: 3px;
  stroke-opacity: .8;
}

